.add-to-cart-btn{
    display: flex;
    align-self: flex-end;
    font-size: 2.5em;
    color: var(--dark-green);
}

.add-to-cart-btn:hover{
    cursor: pointer;
    color: var(--dark-green-hover);
}