.product-card {
    width: 250px;
    flex-direction: column;
    background-color: white;
    max-width: 300px;
    min-width: 280px;
    height: 350px;
    box-shadow: 5px 3px 7px #eee;
}

.product-card:hover {
    cursor: pointer;
    box-shadow: 5px 3px 7px #ddd;
}

.product-card>img {
    display: flex;
    align-self: center;
    max-width: 200px;
}