
.categories-container {
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: white;
}

.item-container {
    max-width: 1280px;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
}

.navbar-brand > img{
    width: 400px;
}

.navbar{
    padding: 0;
}